.sb-keyboard-key {
    width: max-content;

    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    background-color: #f5f5f5;
    border-right: 3px solid #bfbfbf;
    border-bottom: 3px solid #bfbfbf;
    border-radius: 4px;
    opacity: 0.8;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    box-sizing: border-box;

    pointer-events: none;
    user-select: none;

    animation: sb-keyboard-key-fade-out 0.2s ease-out 0.8s forwards;
}

.sb-keyboard-key.small {
    font-size: 1em;
    padding: 2px 4px;
}

.sb-keyboard-key.medium {
    font-size: 1.3em;
    padding: 4px 8px;
}

.sb-keyboard-key.large {
    font-size: 1.6em;
    padding: 6px 10px;
}

.sb-keyboard-key.light {
    color: #000000;
    background-color: #f5f5f5;
    border-color: #bfbfbf;
}

.sb-keyboard-key.dark {
    color: #ffffff;
    background-color: #181818;
    border-color: #0b0b0b;
}

@keyframes sb-keyboard-key-fade-out {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}